@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #510485);
    }

    #login {
        width: 80vw;
        height: 330px;
    }

    #login > #imagem {
        float: left;
        width: 35%;
        height: 100%;
    }

    #login > #formulario {
        float: right;
        width: 65%;
    }

    #formulario > h1 {
        font-size: 1.8em;
    }

    #formulario > p {
        font-size: 1em;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #510485, #49a09d);
    }

    #login {
        width: 950px;
        height: 370px;
    }

    #login > #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    #login > #formulario {
        float: left;
        width: 50%;
    }

    #formulario > h1 {
        font-size: 2em;
    }

    #formulario > p {
        font-size: 1.2em;
        margin: 20px 0px;
    }
}